@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --layout-background: #03213a;
  --layout-foreground: #ffffff;

  --gradient-green-from: #89cda4;
  --gradient-green-to: #13b6dc;
  --gradient-green-foreground: #ffffff;

  --link-hover: #13b6dc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
  }
}

@layer components {
  .custom-scrollbar {
    --sb-track-color: transparent;
    --sb-thumb-color: #dbdbdb;
    --sb-size: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 4px;
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }

  .shimmer {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
    background-size: 1200px 100%;
  }

  @-webkit-keyframes shimmer {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  @keyframes shimmer {
    0% {
      background-position: -1200px 0;
    }
    100% {
      background-position: 1200px 0;
    }
  }
}

@layer utilities {
  .green-gradient {
    background: linear-gradient(
      90deg,
      var(--gradient-green-from) 0%,
      var(--gradient-green-to) 100%
    );
    color: var(--gradient-green-foreground);
  }

  .text-green-gradient {
    background: linear-gradient(
      90deg,
      var(--gradient-green-from) 60%,
      var(--gradient-green-to) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .light-blue-gradient {
    background: linear-gradient(90deg, #13b6dc 0%, #649ca9 100%);
    color: #ffffff;
  }

  .text-light-blue-gradient {
    background: linear-gradient(90deg, #13b6dc 60%, #649ca9 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .black-gradient {
    background-image: linear-gradient(
      to right,
      rgba(31.5, 31.5, 31.5, 0.5) calc((50vw - 170px) - 340px),
      rgba(31.5, 31.5, 31.5, 0.8) 50%,
      rgba(31.5, 31.5, 31.5, 0.6) 100%
    );
  }
}
