@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --layout-background: #03213a;
  --layout-foreground: #ffffff;

  --gradient-green-from: #89cda4;
  --gradient-green-to: #13b6dc;
  --gradient-green-foreground: #ffffff;

  --link-hover: #13b6dc;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .green-gradient {
    background: linear-gradient(
      90deg,
      var(--gradient-green-from) 0%,
      var(--gradient-green-to) 100%
    );
    color: var(--gradient-green-foreground);
  }

  .text-green-gradient {
    background: linear-gradient(
      90deg,
      var(--gradient-green-from) 60%,
      var(--gradient-green-to) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
